@import "../omarchy/current/theme/waybar.css";

* {
  border: none;
  border-radius: 0px;
  font-family: 'JetBrainsMono Nerd Font';
  font-weight: bold;
  font-size: 12px;
  min-height: 0;
  padding: 0;
  margin: 0;
}

window#waybar {
  background: transparent;
}

tooltip {
  background: @background;
  border: 1px solid @bg3;
  font-size: 12px;
  padding: 5px 8px;
  border-radius: 6px;
}

tooltip label {
  color: @foreground;
  padding: 4px;
}

#workspaces {
  background-color: @background;
  padding: 4px 3px;
  margin: 0 0 0 6px;
  border-radius: 6px;
  color: @foreground;
}

#workspaces button {
  padding: 1px 2px;
  margin: 0px 3px;
  border-radius: 6px;
  color: @foreground;
  transition: all .3s ease-in-out
}

#workspaces button.active {
  background-color: @foreground;
  color: @background;
  min-width: 22px;
  font-size: 12px;
  transition: all .3s ease-in-out;
}

#workspaces button.empty {
  opacity: 0.5;
}

.modules-center,
#tray-expander,
#bluetooth,
#battery,
#cpu,
#custom-weather,
#pulseaudio,
#network,
#clock,
#custom-notification {
  background-color: @background;
  padding: 2px 6px;
  margin: 0 0 0 6px;
  border-radius: 6px;
}

.modules-center {
  padding: 2px 10px;
}

#custom-omarchy,
#custom-weather,
#clock,
#custom-notification,
#pulseaudio,
#network,
#battery,
#bluetooth,
#cpu,
#tray-expander {
  color: @foreground;
}

#pulseaudio {
  padding: 2px 10px;
}

#network {
  padding: 2px 10px;
}

#tray {
  margin-left: 6px;
}

#custom-screenrecording-indicator {
  min-width: 14px;
  padding: 3px 8px;
  font-size: 12px;
}

#custom-screenrecording-indicator.active {
  color: @foreground;
}

#custom-voxtype {
  min-width: 12px;
  margin: 0 0 0 7.5px;
}

#custom-voxtype.recording {
  color: #a55555;
}
